body {
	background:url(../images/1.jpg) 100% 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}
.container1 {
	padding: 10px;
    border: 1px solid #cdcdcd;
    float:left;
}
.container2 {
	padding: 10px;
    border: 1px solid #cdcdcd;
    float:right;
}
.container3 {
	padding: 10px;
    border: 1px solid #cdcdcd;
    clear:both;
    float:none;
}
.donebutton
{
	float:none;
	box-shadow: 0px 6px 10px -2px #686868;
	padding: 0.5em 1.5em 0.7em 1.5em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.verify
{
	width:222px;
    padding:20px;
	margin: 4% auto 4% auto; 
	background: #FFF;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.title {
    background: rgb(241,241,241);
    border-bottom: 1px solid #cdcdcd;
	padding: 1em;
	line-height: 16px;
	font-size: 1em;
	color: #1D1E20;
	border-bottom: 1px solid #cdcdcd;
	font-weight: 600;
}
.donebutton
{
	float:none;
	box-shadow: 0px 6px 10px -2px #686868;
	padding: 0.5em 1.5em 0.7em 1.5em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.clear
{
	clear: both;
}